extends layout.jade

block content
	.row
		.col-md-3.col-sm-4.col-xs-12
			.thumbnail
				img(src="",alt="")
				.caption
					h3 Product 1
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lacinia porta urna, a euismod metus imperdiet a. Fusce elementum, purus et commodo faucibus, augue enim bibendum ligula, nec ultricies odio tellus id ligula. Vivamus eget risus vitae ante lobortis malesuada sit amet eu elit.
					p
						a.btn.btn-primary(href="/product") Buy
		.col-md-3.col-sm-4.col-xs-12
			.thumbnail
				img(src="",alt="")
				.caption
					h3 Product 2
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lacinia porta urna, a euismod metus imperdiet a. Fusce elementum, purus et commodo faucibus, augue enim bibendum ligula, nec ultricies odio tellus id ligula. Vivamus eget risus vitae ante lobortis malesuada sit amet eu elit.
					p
						a.btn.btn-primary(href="#") Buy
		.col-md-3.col-sm-4.col-xs-12
			.thumbnail
				img(src="",alt="")
				.caption
					h3 Product 3
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lacinia porta urna, a euismod metus imperdiet a. Fusce elementum, purus et commodo faucibus, augue enim bibendum ligula, nec ultricies odio tellus id ligula. Vivamus eget risus vitae ante lobortis malesuada sit amet eu elit.
					p
						a.btn.btn-primary(href="#") Buy
		.col-md-3.col-sm-4.col-xs-12
			.thumbnail
				img(src="",alt="")
				.caption
					h3 Product 4
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lacinia porta urna, a euismod metus imperdiet a. Fusce elementum, purus et commodo faucibus, augue enim bibendum ligula, nec ultricies odio tellus id ligula. Vivamus eget risus vitae ante lobortis malesuada sit amet eu elit.
					p
						a.btn.btn-primary(href="#") Buy
		.col-md-3.col-sm-4.col-xs-12
			.thumbnail
				img(src="",alt="")
				.caption
					h3 Product 5
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lacinia porta urna, a euismod metus imperdiet a. Fusce elementum, purus et commodo faucibus, augue enim bibendum ligula, nec ultricies odio tellus id ligula. Vivamus eget risus vitae ante lobortis malesuada sit amet eu elit.
					p
						a.btn.btn-primary(href="#") Buy
		.col-md-3.col-sm-4.col-xs-12
			.thumbnail
				img(src="",alt="")
				.caption
					h3 Product 6
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lacinia porta urna, a euismod metus imperdiet a. Fusce elementum, purus et commodo faucibus, augue enim bibendum ligula, nec ultricies odio tellus id ligula. Vivamus eget risus vitae ante lobortis malesuada sit amet eu elit.
					p
						a.btn.btn-primary(href="#") Buy
		.col-md-3.col-sm-4.col-xs-12
			.thumbnail
				img(src="",alt="")
				.caption
					h3 Product 7
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lacinia porta urna, a euismod metus imperdiet a. Fusce elementum, purus et commodo faucibus, augue enim bibendum ligula, nec ultricies odio tellus id ligula. Vivamus eget risus vitae ante lobortis malesuada sit amet eu elit.
					p
						a.btn.btn-primary(href="#") Buy
		.col-md-3.col-sm-4.col-xs-12
			.thumbnail
				img(src="",alt="")
				.caption
					h3 Product 8
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lacinia porta urna, a euismod metus imperdiet a. Fusce elementum, purus et commodo faucibus, augue enim bibendum ligula, nec ultricies odio tellus id ligula. Vivamus eget risus vitae ante lobortis malesuada sit amet eu elit.
					p
						a.btn.btn-primary(href="#") Buy
