extends layout.jade

block content
	.row
		.col-xs-12
			.container
				.row
					.col-xs-6
						img(src="http://images.sportsdirect.com/images/products/20303740_l.jpg",alt="")
					.col-xs-6
						h3 adidas Copa Mundial FG Mens Football Boots
						p £76.99
						p
							a.btn.btn-success.btn-block(href="/product") Add to bag
				.row
					p These adidas Mundial Team Mens Astro Turf Trainers feature a mutli studded rubber sole for extra traction on artificial surfaces and dry natural fields to allow you to perform at the best of your ability. These astro turf boots also feature the Mundial Team logo printed to the side of the trainer above the traditional adidas 3 stripes which are on either side of the shoe, finished off with a full grain kangaroo leather and a reinforced suede toe panel. 
