html
    head
        title Pinterest Api Test
    body
        p Test api

        script(src="lib/jquery/dist/jquery.min.js")
        script(src="lib/q/q.js")
        script(src="js/resource.js")
        script(src="js/main.js")
