extends layout.jade

block content
	.row
		.col-xs-10
			.row
				.col-xs-12
					h1 Luis Royo
			.row.bio
				.col-xs-12
					h2 Biography
					div
						img(src="http://upload.wikimedia.org/wikipedia/commons/thumb/4/4d/Luis_Royo_-_Salon_du_livre_de_Paris_2010.JPG/429px-Luis_Royo_-_Salon_du_livre_de_Paris_2010.JPG")
						p Luis Royo was born in 1954 in Olalla, a small village in Teruel, Spain. As a child, he moved to Zaragoza where he studied technical design, painting, and interior design. By 1972 he began painting, exposing his art to new forum. In 1978 he became a comic artist and soon triumphed internationally. Samples of his work appeared in some of the most important magazines of the time and were later compiled into the following books: Luis Royo (Rambla, 1985) and Desfase (Ikusager, 1986). In 1983 he moved onto illustrations, were he produced his greatest achievements. He achieves this success with the help of Norma, his publisher and editor that distributes his work to the entire world. In 1992 his first book, Women, appears, followed by Malefic (1994), Secrets (1996), III Millennium (1998), Dreams (1999), Prohibited Book 1 (1999), Evolution (2001), Prohibited Book 2 (2001, Conceptions I (2002), Visions (2003), Prohibited Book 3 (2003) and Conceptions II (2003). Along with these titles, six collectors cards series were released, five collectors portfolios, posters, and a tarot card set called The Black Tarot. The increasing popularity of Royo´s images allowed for the publication of postcards, calendars, playing cards, t-shirts, album covers, video games, mouse pads, and even sculpture.
						

		.col-xs-2.aside-box
			include artist-menu

