extends layout.jade

block content
	.row
		.col-xs-12
			img(src="http://dsp1i8etdrigy.cloudfront.net/wp-content/uploads/2014/03/fantasy-manipulation-photoshop-tutorial-1400x480.jpg").img-slide
	.row
		.col-xs-12
			h3 Latest tutorials
	.row
		.col-xs-12.col-sm-12.col-md-6.col-lg-4
			.thumbnail
				.caption
					a(href="/tutorials#")
						h3 The Fallen Angel
					.row
						.col-xs-12
							img(src="http://dsp1i8etdrigy.cloudfront.net/wp-content/uploads/2014/03/fantasy-manipulation-photoshop-tutorial-760x475.jpg",alt="")
						.col-xs-12
							div Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lacinia porta urna, a euismod metus imperdiet a.
		.col-xs-12.col-sm-12.col-md-6.col-lg-4
			.thumbnail
				.caption
					a(href="/tutorials#")
						h3 Dramatic Color Tones in CS6
					.row
						.col-xs-12
							img(src="http://dsp1i8etdrigy.cloudfront.net/wp-content/uploads/2014/05/dramatic-tones-photoshop-tutorial-760x475.jpg",alt="")
						.col-xs-12
							div Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lacinia porta urna, a euismod metus imperdiet a.
		.col-xs-12.col-sm-12.col-md-6.col-lg-4
			.thumbnail
				.caption
					a(href="/tutorials#")
						h3 Vampire Effect in Ps
					.row
						.col-xs-12
							img(src="http://dsp1i8etdrigy.cloudfront.net/wp-content/uploads/2012/10/vampire-photoshop-tutorial-760x475.jpg",alt="")
						.col-xs-12
							div Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lacinia porta urna, a euismod metus imperdiet a.