extends layout.jade

block content
	.container
		.flexslider.flexFull
			ul.slides
				li
					.cont1
						.container.leftDown
							.easyBox.flowContent
								h3.subTitle Unique and Clean
								p Morbi at fermentum mauris. Sed risus urna, porttitor non ullamcorper et.
				li
					.cont1
						.container.leftDown
							.easyBox.flowContent
								h3.subTitle Unique and Clean
								p Morbi at fermentum mauris. Sed risus urna, porttitor non ullamcorper et.
		.row
			.col-xs-12
				h3 Latest tutorials
		.row
			.col-xs-12.col-sm-12.col-md-6.col-lg-4
				.thumbnail
					.caption
						a(href="/tutorials#")
							h3 The Fallen Angel
						.row
							.col-xs-12
								img(src="http://dsp1i8etdrigy.cloudfront.net/wp-content/uploads/2014/03/fantasy-manipulation-photoshop-tutorial-760x475.jpg",alt="")
							.col-xs-12
								div Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lacinia porta urna, a euismod metus imperdiet a.
			.col-xs-12.col-sm-12.col-md-6.col-lg-4
				.thumbnail
					.caption
						a(href="/tutorials#")
							h3 Dramatic Color Tones
						.row
							.col-xs-12
								img(src="http://dsp1i8etdrigy.cloudfront.net/wp-content/uploads/2014/05/dramatic-tones-photoshop-tutorial-760x475.jpg",alt="")
							.col-xs-12
								div Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lacinia porta urna, a euismod metus imperdiet a.
			.col-xs-12.col-sm-12.col-md-6.col-lg-4
				.thumbnail
					.caption
						a(href="/tutorials#")
							h3 Vampire Effect in Ps
						.row
							.col-xs-12
								img(src="http://dsp1i8etdrigy.cloudfront.net/wp-content/uploads/2012/10/vampire-photoshop-tutorial-760x475.jpg",alt="")
							.col-xs-12
								div Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lacinia porta urna, a euismod metus imperdiet a.